body * {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Schoolbell, cursive;
  font-size: 1.6rem;
  background-color: #fffffc;
}

p {
  font-size: 3rem;
  margin: 4rem;
  line-height: 4.5rem;
  color: rgba(0, 0, 0, 0.9);
}

p:first-child {
  margin-top: 0;
}

p::selection {
  color: rgba(0, 0, 0, 0.9);
  background: rgba(255, 224, 44, 0.5);
}

br::selection {
  background: transparent;
}

div.lyrics {
  background-image: url(images/paper1585342548944.jpg);
  background-repeat: repeat;
  background-size: 141rem;
  background-position: top left;
  border-radius: 5px;

  width: 100rem;
  margin: 5rem auto;
  padding: 4.5rem 10rem 3rem;
  box-shadow: 0px 0px 10px 0px #ddd;
}

img.lyrics {
  width: 100rem;
  display: block;
  margin: 5rem auto;
  box-shadow: 0px 0px 10px 0px #ddd;
}
